
.pages{
    font-weight: 400;
}
.header{
    margin: 0 auto;
}
.heading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.menu-drop:hover{
    background-color: black;
    opacity: 0.5;
}
.DBento{
    padding-left: 6%;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.3;
}
.Reservation{
    border: 2px solid #c79a39;
    border-radius: 0;   
    background-color: black;
}
.Reservation:hover{
    background-color: #c79a39;
}
.hover-header:hover{
    opacity: 0.5;
}
.viewmore:hover{
    opacity: 0.5;
}

.carousel-caption{
    top: 180px;  
}

.container-fluid{
justify-content: center;
  display: flex;
   padding: 10px 0;
}
.container-fluid .row{
    display: flex;
    justify-content: center;
}
.container-fluid .row h1,h2,h4{
    font-family: cursive;
}
.container-fluid .row p{
    text-decoration: none solid (111, 111, 111);
    color: #6F6F6F;
    text-align: center;
    justify-content: center;
   font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 25.6px;
}
.row .col-xs-12{
    width: 30%;
   height: 102px;
    padding: 0 15px 0 15px;
    width: 426.7px;

}

.row{
    display: flex;
    justify-content: space-around;
}
.row .col{
  
    padding: 30px;
    background-color: aliceblue;
    height: 475px;
    width: 426px;
    margin-left: 40px;
   /* margin-right: 20px;*/
}
.row .col img{
    width: 80px;
    height: 80px;
  
}
.row .col p{
    text-align: center;
    color: #6F6F6F;
    font-size: 17px;
    margin-top: 120px;
    letter-spacing: 0.3px;
    
}
.carousel-inner .container-fluid{
    display: flex;
    
}
.backimg{
    background-image: linear-gradient(0, rgb(19, 18, 18, 0.7) , rgba(19, 18, 18, 0.7)) , url(../images/imagesPages-Menu/bgsection.jpg);

    width: 100%;
    height: 862px;
}
.row .col img{
    text-align: center;
    border-radius: 50%;
    height: 7rem; 
    width: 7rem;
    padding: 1rem;
    margin-left: 33%;
}
.row .col h3{
    font-size: 18px;
    text-align: center;
}
.row .col h4{
    font-size: 17px;
    text-align: center;
    color: #6F6F6F;
}
.food{
    background-image: linear-gradient(0, rgb(19, 18, 18, 0.7) , rgba(19, 18, 18, 0.7)) , url(../images/imagesPages-Menu/food.jpg);
    width: 100%;
    height: 545px;
    
}
 
 .col-3 .card {
     position: relative;
     width: 100%;
  
 }
 .col-3 .card span{
     position: absolute;
    font-size: 0.9rem;
    font-weight: 600;
    bottom: 50%;
    right: 15px;
    width: max-content;
   padding: 5px 20px;
   color: #fff;
   background-color: rgba(70, 70, 70);
 }
 .card-body h2{
     font-size: 27px ;
     margin-top: 10px;
     margin-bottom: 20px;
 }

 .card a{
     color: #fff;
    font-weight: 600;
    padding: 6px 34px 6px 34px;
    background-color: #AF872F;
    border: #AF872F;
    margin-top: 30px;
 }
.footer{
     background-image: linear-gradient(0, rgb(19, 18, 18, 0.9) , rgba(19, 18, 18, 0.9)), url(../images/imagesPages-Menu/footer.png);
     width: 100%;
     height: 600px;
 
 } 
 .row .col-md-6{
     width: 30%;
   padding: 100px;
     color: #fff;
 }
 .card .card-inner p{
    color: #FFFFFF;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
    margin-top: 30px;
 }
 .col-md-6 h4{
     font-weight: 600;
     font-size: 26px;
 }
 .col-md-6 p{
     color: #FFFFFF !important;
     text-align: center;
    margin-left: auto;
    margin-top: 30px;
 }
 .col-md-6 a{
    color: #AF872F;
     font-weight: 700;
     font-size: 16px;
 }
 .col-12{
     background-color: #101010;
     padding: 30px 0;
 }
 .col-12 p {
    color: #FFFFFF !important;
    
 }
 .breadcumb {
    display: block;
    background: #191919;
    padding: 0;
    height: 460px;
    background-size: cover;
    position: relative;
    margin-bottom: 80px;
}
 .breadcumb .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    
}

.main .bread-title {
    color:#FFFFFF;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;
    display: block;
    bottom: 50px;
    
}
.main .bread {
    color: #FFFFFF;
    text-align: center;
    padding: 60px 0 0;
   
}


 



